/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: magenta;
    color: #333;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    position: relative;
}
h1{
    text-align: right;
}

#menu-button {
    position: absolute;
    left: 20px;
    top: 10px;
    font-size: 24px;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 8px 8px 8px 32px;
    text-align: left;
}

.sidebar ul li a {
    text-decoration: none;
    color: #818181;
    display: block;
    font-size: 18px;
    padding: 10px 0;
    transition: 0.3s;
}

.sidebar ul li a:hover {
    color: #f1f1f1;
}

#close-button {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    background: none;
    border: none;
    color: #818181;
    cursor: pointer;
}

#overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
    display: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px auto;
    max-width: 1200px;
    padding: 20px;
}

.box {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    text-align: center;
    width: calc(33% - 40px);
}

.box h2 {
    margin-bottom: 20px;
}

form {
    margin: 20px 0;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"],
button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover,
button:hover {
    background-color: #0056b3;
}

#payment-response,
#balance-response {
    margin-top: 20px;
    font-size: 18px;
}

@media (max-width: 768px) {
    .box {
        width: calc(50% - 40px);
    }
}

@media (max-width: 480px) {
    .box {
        width: calc(100% - 40px);
    }
}
